<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bfit</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Bfit is an app that let's you choose from proven exercises and workouts </h1>
  <h2>All Exercises</h2>
  <ul>
    <% for(let i=0; i < info.length; i++) {%>
        <li data-exercise-id="<%= info[i]._id%>" class="exercises">
            <span><%=info[i].name %></span>
            <span class="current-likes"><%=info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
  </ul>
  <form action="/api/addExercise" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="video url" name="video_url">
    <label for="motion">Push, Pull or Lateral:</label>
  <select id="motion" name="motion">
    <option value="push">Push</option>
    <option value="pull">Pull</option>
    <option value="lateral">Laterl</option>
    </select>
    <label for="body-group">Body Group</label>
    <select id="body-group" name="body-group">
        <option value="abs">Abs</option>
        <option value="back">Back</option>
        <option value="biceps">Biceps</option>
        <option value="triceps">Triceps</option>
        <option value="calves">Calves</option>
        <option value="chest">Chest</option>
        <option value="shoulders">Shoulders</option>
        <option value="glutes">Glutes</option>
        <option value="hamstring">Hamstring</option>
        <option value="quad">Quad</option>
        <option value="traps">Traps</option>
        <option value="tibialis">Tibialis</option>
    </select>
    <input type="text" placeholder="bodyweight % goal" name="goal">
    <input type="text" placeholder="min sets" name="min-sets">
    <input type="text" placeholder="max sets" name="max-sets">
    <button type="submit">Submit</button>
  </form>
  <script src='js/main.js'></script>

</body>
</html>